* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.content {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: lightgray;
  border: 2px solid #dddddd;
  padding: 20px;
  width: 100%;
}
.passfield {
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 20px;
  margin-bottom: 16px;
}
.information,
.heading2 {
  color: rebeccapurple;
  font-size: 20px;
  font-weight: bold;
}
